@font-face {
	font-family: 'GothamPro-Black'; 
	src: url(/fonts/GothamPro-Black.ttf); 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'GothamPro-Black';
}

body{
    background-image: url(../pics/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.news__bar{
    width: 100%;
    height: 35px;

    background-color: rgb(227, 156, 151, 0.7);

    display: flex;
    align-items: center;


}

.square{
    width: 15px;
    height: 15px;
    background-color: #09432A;

    margin-left: 20px;
   
}

.title{
    margin-left: 30px;
    text-transform: capitalize;
}


/*_______________ HEADER__________________*/

header{
    width: 100%;
    height: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0;
}

.search{
    position: relative;
}

input[type="search"]{
    width: 650px;
    height: 30px;

    border-radius: 5px;
    border: none;
}

input[type="submit"]{
    width: 75px;
    height: 30px;

    border-radius: 0 5px 5px 0;

    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    
    background-color: rgb(227, 156, 151, 0.7);
    cursor: pointer;
   
}

.prof__pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: red;
}

/*_______________ MAIN PAGE __________________*/

.main__block{
    margin-top: 50px;
}

.main__content{
    width: 100%;
    height: 100vh;

    background-color: #eaeaea;;

    padding: 50px 70px;

}

.anime__content{
    display: grid;
    grid-template-columns: 30% 70%;
}

.anime__pic{
    width: 100%;
    height: 430px;
    background-color: blue;
}

.anime__info{
    margin-left: 70px;
}

.anime__info h1{
    margin-bottom: 15px;
}

.tag__info{
    margin: 20px 0 70px;
}

.tag__info p{
    margin-bottom: 5px;
}