@font-face {
    font-family: 'GothamPro-Black'; 
    src: url(/fonts/GothamPro-Black.ttf); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GothamPro-Black';
}

body {
    background-image: url(../pics/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Header */
.nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.search {
    position: relative;
}

input[type="search"] {
    width: 650px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.searchbtn {
    width: 75px;
    height: 31px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: rgba(227, 156, 151, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 15px;
}

.prof__pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

/* Media for Header */
@media (max-width: 1368px) {
    input[type="search"] {
        width: 450px;
    }
    .logo img {
        width: 180px;
    }
}

@media (max-width: 820px) {
    input[type="search"] {
        width: 250px;
    }
    .logo img {
        width: 140px;
    }
}

@media (max-width: 560px) {
    .logo img{
        display: none;
    }

    .logo{
        background-image: url(pics/logo2.png);

        width: 50px;
        height: 50px;
    }

    .icons{
        flex-direction: column-reverse;
        margin-top: 70px;
    }
}

/* Main Page */
.main__block {
    margin-top: 50px;
}

.main__content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}

.last__news{

    width: 100%;
    height: 100%;

    background-color: #eaeaea;

    padding: 40px;
}

.genre__list{
    width: 100%;
    height: 100%;
    
    background-color: rgb(234, 234, 234, 0.8);

    padding: 40px;
}

/* Media for Main Page */
@media (max-width: 1128px) {
    .main__content {
        display: inline-block;
    }
    .last__news {
        margin-top: 40px;
    }
    .genre__list {
        display: none;
    }

    @media (max-width: 820px) {
        .main__content {
            margin: 0 auto;
        }
    }

    @media (max-width: 360px) {
        .main__content {
            margin: 0 auto;
        }
    }
}

/* Anime List */
.more {
    display: none;
}

.news__bar {
    width: 100%;
    height: 35px;
    background-color: rgba(227, 156, 151, 0.7);
    display: flex;
    align-items: center;
}

.square {
    width: 15px;
    height: 15px;
    background-color: #09432A;
    margin-left: 20px;
}

.title {
    margin-left: 30px;
    text-transform: capitalize;
   
}

.anime__list {
    width: 100%;
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 17px;
}

.anime__block {
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;

    color: #000000;
    text-decoration: none;

    gap: 5px;
    transition: transform 0.3s;
}

.img {
    width: 100%;
    height: 250px;
}
    

.hoverblock {
    transform: scale(1.1);
}

/* Media for Anime List */
@media (max-width: 1128px) {
    .more {
        position: absolute;
        display: block;
        top: -165px;
        left: 700px;
    }
    .anime__list {
        grid-template-columns: repeat(3, 1fr);
    }
    .genre__list {
        display: none;
    }
    .news__bar {
        width: 90%;
        height: 35px;
    }
}

@media (max-width: 820px) {
    .anime__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 560px) {
    .news__bar {
        width: 100%;
        height: 35px;
        background-color: rgba(227, 156, 151, 0.7);
        display: flex;
        align-items: center;
        justify-self: center;
    }
    .anime__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .anime__block {
        width: 150px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        transition: transform 0.3s;
    }
    
    .img {
        width: 100%;
        height: 225px;
    }
}

/* Genre List */
.genres {
    width: 100%;
    margin-top: 40px;
}

ul {
    margin-left: 10px;
}

li {
    list-style-type: hiragana;
    margin: 10px 20px;
}

ion-icon {
    font-size: 50px;
    cursor: pointer;
}

/* Admin Panel */
.admin {
    
    display: none;
    
}
.show {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    display: flex;
    justify-content: center;
    z-index: 9999; 
}

.admin__panel {
    width: 400px;
    background-color: rgb(224, 166, 162);
    padding: 20px;
    border: #09432A solid 3px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    position: relative;
}

.input {
    width: 150px;
    height: 20px;
    padding: 5px 0 5px 5px;
}

.desc {
    width: 300px;
    height: 90px;
    padding: 5px;
}

.picture {
    width: 100%;
    height: 30px;
}

select {
    width: 150px;
    height: 20px;
}

.addbtn {
    width: 40%;
    height: 30px;
    background-color: rgba(109, 172, 164, 0.8);
    border: none;
    color: #eaeaea;
    cursor: pointer;
}

.addbtn:hover {
    border: 2px solid rgb(78, 132, 125);
}

.closebtn {
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 350px;
}