@font-face {
	font-family: 'GothamPro-Black'; 
	src: url(/fonts/GothamPro-Black.ttf); 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'GothamPro-Black';
}

body{
    background-image: url(../pics/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}


/*_______________ HEADER__________________*/

header{
    width: 100%;
    height: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0;
}

.search{
    position: relative;
}

input[type="search"]{
    width: 650px;
    height: 30px;

    border-radius: 5px;
    border: none;
}

input[type="submit"]{
    width: 75px;
    height: 30px;

    border-radius: 0 5px 5px 0;

    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    
    background-color: rgb(227, 156, 151, 0.7);
    cursor: pointer;
   
}

.prof__pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: red;
}

/*_______________ MAIN PAGE __________________*/

.main__block{
    margin-top: 50px;
}

.main__content{
    width: 100%;
    height: 100vh;

    

    display: grid;
    grid-template-columns: 70% 30%;

}

.last__news{

    width: 100%;
    height: 100%;

    background-color: #eaeaea;

    padding: 40px;
}

.genre__list{
    width: 100%;
    height: 100%;
    
    background-color: rgb(234, 234, 234, 0.8);

    padding: 40px;
}

/*_______________ ANIME LIST __________________*/

.news__bar{
    width: 100%;
    height: 35px;

    background-color: rgb(227, 156, 151, 0.7);

    display: flex;
    align-items: center;


}

.square{
    width: 15px;
    height: 15px;
    background-color: #09432A;

    margin-left: 20px;
   
}

.title{
    margin-left: 30px;
    text-transform: capitalize;
}

.anime__list{
    width: 100%;
   
    margin-top: 40px;
    


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 17px;
}

.anime__block{


    width: 180px;
    height: 280px;

    display: flex;
    flex-direction: column;

    gap: 5px;

    transition: transform 0.3s;

}

.img {
    width: 100%;
    height: 250px;
  }
  
  .hoverblock {
    transform: scale(1.1);
  }

  /*_______________ GENRE LIST __________________*/

  .genres{
    width: 100%;
   
    margin-top: 40px;
  }

  ul{
    margin-left: 10px;
  }

  li{
    list-style-type: hiragana;

    margin: 10px 20px;
  }




  ion-icon{
    font-size: 50px;
    position: absolute;
    left: 80px;
    top: 80px;

    cursor: pointer;
  }





  /*_______________ ADMIN PANEL __________________*/


  
.admin{
    position: fixed;

    top: 17%;
    left: 12%;

    display: none;
}

.show{
    display: block;
}
.admin__panel{
    
    width: 400px;
    background-color: rgb(224, 166, 162);

    padding: 20px;
    border: #09432A solid 3px;

    display: flex;
    flex-direction: column;
    gap: 15px 0;

    position: relative;
    
}

input{
    width: 150px;
    height: 20px;

    padding: 5px 0 5px 5px;
}

.desc{
    width: 300px;
    height: 90px;

}

.picture{
    width: 100%;
    height: 30px;
}

select{
    width: 150px;
    height: 20px;
}

.closebtn{
    font-size: 30px;

    position: absolute;

    top: 5px;
    left: 350px;
}
