@font-face {
	font-family: 'GothamPro-Black'; 
	src: url(/fonts/GothamPro-Black.ttf); 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'GothamPro-Black';
}

body{
    background-image: url(../pics/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.news__bar{
    width: 100%;
    height: 35px;

    background-color: rgb(227, 156, 151, 0.7);

    display: flex;
    align-items: center;


}

.square{
    width: 15px;
    height: 15px;
    background-color: #09432A;

    margin-left: 20px;
   
}

.title{
    margin-left: 30px;
    text-transform: capitalize;
}


/*_______________ HEADER__________________*/

header{
    width: 100%;
    height: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0;
}

.search{
    position: relative;
}

input[type="search"]{
    width: 650px;
    height: 30px;

    border-radius: 5px;
    border: none;
}

input[type="submit"]{
    width: 75px;
    height: 30px;

    border-radius: 0 5px 5px 0;

    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    
    background-color: rgb(227, 156, 151, 0.7);
    cursor: pointer;
   
}

.prof__pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: red;
}

/*_______________ MAIN PAGE __________________*/

.main__block{
   margin-top: 50px;
}


.profile__content{
    width: 100%;
    height: 100%;

    padding: 60px;

    background-color: rgb(234, 234, 234, 0.8);

    display: grid;
    grid-template-columns: 35% 65%;
    

}


.prof__info{
    display: flex;

    flex-direction: column;
    gap: 30px;
}

.prof__info h1{
    text-transform: uppercase;
}

.profile__pic{
    width: 315px;
    height: 430px;
    
    background-color: blue;
}

.fav__list{
    width: 100%;

    background-color: aqua;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 10px;
}

.fav__elem{
    width: 120px;
    height: 170px;

    background-color: crimson;
}

.wcd__block{
    width: 100%;

    background-color: rgb(234, 234, 234, 0.8);

}

.wcd__container{
    padding: 0 60px;
}


.wcd__choice{
    text-align: end;

    margin: 10px 0 30px 0;
}

span{
    cursor: pointer;
}

.wcd__list{
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 40px 0;
}

.anime__block{


    width: 180px;
    height: 280px;

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.img {
    width: 100%;
    height: 250px;
    background-color: #cc1a1a;
    
  }