@font-face {
	font-family: 'GothamPro-Black'; 
	src: url(/fonts/GothamPro-Black.ttf); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'GothamPro-Black';
}

body{
    background-image: url(../pics/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin: 0 auto;
    max-width: 1290px;

    position: relative;
}

.alert{
    background: #FFFFFF;
    border: 2px solid red;
    padding: 15px 3px;
    text-align: center;
    width: 35%;
    height: 50px;

    position: absolute;
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
}



/* _________________ HEADER _____________________ */


header{
    width: 100%;
    height: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0;
}



.search-bar{
    width: 653px;
    height: 46px;

    background-color: #F1F0F0;
    border-radius: 5px;

    position: relative;
}

.search-elem{
    height: 46px;
    width: 76px;
    background-color: #4EB4A7;
    border-radius: 0 5px 5px 0;
    
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}

.profile-icons{
    display: flex;
    gap: 18px;
    align-items: center;
}

.profile-pic{
    width: 50px;
    height: 50px;
    background: #FFFFFF;

    border-radius: 50%;

}

.profile-name{
    color: #F1F0F0;

    font-size: 28px;
    font-weight: 200;

}

/* _________________ MAIN PAGE _____________________ */

.section{

    margin-top: 90px;

}

.main-page{
    width: 500px;
    height: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);


    border-radius: 30px;
}

.title{
    margin-bottom: 20px;
}

.title h1{
    font-size: 38px;
    margin-bottom: 8px;
    text-align: center;
}



.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 240px;
}

input[type="text"],
input[type="password"]{
    height: 30px;
    padding: 3px 0 3px 8px;

    border: none;
    border-radius: 5px;
}


input[type="submit"]{
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-top: 20px;
    
    text-align: center;

    border: none;
    background-color: rgb(227, 156, 151, 0.7);
    color: #000000;
    cursor: pointer;
    transition: 0.2 linear;
}

input[type="submit"]:hover{
    background-color: rgba(190, 124, 120, 0.7);
   
}


.auth-skip{
    font-size: 14px;

    text-align: end;
    margin-top: -10px;
}

a{
    text-decoration: none;
    color: #4EB4A7;

    cursor: pointer;
    transition: 0.2 ease;
}

a:hover{
    color: #f4a442;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

