@font-face {
    font-family: 'GothamPro-Black'; 
    src: url(/fonts/GothamPro-Black.ttf); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GothamPro-Black';
}

body {
    background-image: url(../pics/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Header */
.nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.search {
    position: relative;
}

input[type="search"] {
    width: 650px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.searchbtn {
    width: 75px;
    height: 31px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: rgba(227, 156, 151, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 15px;
}

.prof__pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

}

.prof__pic img{
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

/* Media for Header */
@media (max-width: 1368px) {
    input[type="search"] {
        width: 450px;
    }
    .logo img {
        width: 180px;
    }
}

@media (max-width: 820px) {
    input[type="search"] {
        width: 250px;
    }
    .logo img {
        width: 140px;
    }
}

@media (max-width: 560px) {
    .logo img{
        display: none;
    }

    .logo{
        background-image: url(pics/logo2.png);

        width: 50px;
        height: 50px;
    }

}

/* _________________ MAIN PAGE _____________________ */

.section{

    margin-top: 90px;

}

.main-page{
    width: 500px;
    height: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);


    border-radius: 30px;
}

.title{
    margin-bottom: 20px;
}

.title h1{
    font-size: 38px;
    margin-bottom: 8px;
    text-align: center;
}



.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 240px;
}

input[type="text"],
input[type="password"]{
    height: 30px;
    padding: 3px 0 3px 8px;

    border: none;
    border-radius: 5px;
}


input[type="submit"]{
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-top: 20px;
    
    text-align: center;

    border: none;
    background-color: rgb(227, 156, 151, 0.7);
    color: #000000;
    cursor: pointer;
    transition: 0.2 linear;
}

input[type="submit"]:hover{
    background-color: rgba(190, 124, 120, 0.7);
   
}


.auth-skip{
    font-size: 14px;

    text-align: end;
    margin-top: -10px;
}

a{
    text-decoration: none;
    color: #4EB4A7;

    cursor: pointer;
    transition: 0.2 ease;
}

a:hover{
    color: #f4a442;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

